# Fetch configuration from composer.json, or resort to defaults (network address 192.168.55.0 with a single web container for DATA=clean-db on port 11111) if not available

    export LOCAL_VM_NETWORK_ADDRESS="$(jq --raw-output '.extra["vagrant-docker-local-dev-vm"]["network-address"] // "192.168.55.0"' < composer.json)"
    export LOCAL_VM_WEB_CONTAINERS="$(jq --raw-output '.extra["vagrant-docker-local-dev-vm"]["web-containers"] // [{"data":"clean-db","port":"11111"}]' < composer.json)"

# Derived settings

    export LOCAL_VM_IP=${LOCAL_VM_NETWORK_ADDRESS%.0}.100
    export DOCKER_HOST=tcp://$LOCAL_VM_IP:4243

# Use the following docker images - include tags for version-pinning

    export LEMP_DOCKER_IMAGE=fooproject/web:latest
    export PROXY_DOCKER_IMAGE=fooproject/proxy:latest
    export MAILCATCHER_DOCKER_IMAGE=nisenabe/mailcatcher

# Used by docker-md-plugin to set-up a db container for our app (named and with a certain port)

    export DB_APP=web
    export DB_PORT=13306

# Choose a provider depending on where to provision the docker host:

    export HOST_VM_PROVIDER=virtualbox
    # todo:
    # export HOST_VM_PROVIDER=digital-ocean
    # export HOST_VM_PROVIDER=aws

# Choose a ssh key for vagrant to use, relative to the vagrant configuration build folder (note that automatic provisioning will not work when using passphrase-protected keys):
# Note: "insecure_key" will be downloaded automatically

    export SSH_PRIVATE_KEY=insecure_key
    export SSH_PUBLIC_KEY=insecure_key.pub
    # OR
    # export SSH_PRIVATE_KEY=~/.ssh/id_rsa
    # export SSH_PUBLIC_KEY=~/.ssh/id_rsa.pub

